body {
    margin: 0px;
}

.aramakismi {
    background-color: #EEEEEE;
    height: 70px;
    width: 1500px;
}

.aramacubugu {
    width: 300px;
    margin: 0px;
}

.butonlar {
    width: 110px;
    background-color: #EEEEEE;
}

.altkutu1 {
    text-align: center;
    background-color: #7EE5DA;
    width: 600px;
    height: 100px;
    float: left;
}

.altkutu2 {
    text-align: center;
    background-color: #70CCC2;
    width: 300px;
    height: 100px;
    margin-left: 1px;
    float: left;
}

.altkutu3 {
    text-align: center;
    background-color: #62B3AA;
    width: 600px;
    height: 100px;
    margin-left: 1px;
    float: left;
}